@import url();

*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: black;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
}
.logo{
    font-size: 30px;
    text-decoration:none;
    color: #fff;
    font-weight: bolder;
    pointer-events: none;
}
.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 35px;
}
.navbar a.active,
.navbar a:hover{
    background: linear-gradient(45deg, blue, white, green);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    margin-top: 0px;
    background-image: url(/Images/Picsart_23-05-05_18-13-59-451.jpg);
    background-size: cover;
    background-position: center;
    
}
.home-content h1{
    font-size: 40px;
    font-weight: 700;
    color: #0ef;
    margin-top: 90px;
}
.home-content h3{
    font-size: 25px;
    font-weight: 700;
    color: #12ffa7;
}
.home-content p{
    font-size: 16px;
    color: whitesmoke;

}
.btn{
    display: inline-flex;
    width: 180px;
    height: 48px;
    background: lightgreen;
    border-radius: 40px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
}
.home-sci a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    margin: 30px 15px 30px 0;
    text-decoration: none;
}
.home-sci a:hover{
    background: #12ffa7;
    color: black;
    box-sizing: 0 0 20px #00aaff;
}
.imageAboutPage {
    width: 100%;
}
.col-lg-7 p{
    color: #fff;;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    justify-content:end;
}
.container h1 {
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0ef;
    margin-top: 20px;
}
.container h2{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #12ffa7;
}
.col-md-6 li{
    color: #0ef;
    letter-spacing: 1px;
    list-style:circle;
    height: 50px;
}
/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}
